# Native-C Sources
*.c text
*.h text

# Compiled Object files
*.o binary
*.obj binary

# Precompiled Headers
*.gch binary
*.pch binary

# Compiled Dynamic libraries
*.so binary
*.dylib binary
*.dll binary

# Compiled Static libraries
*.a binary
*.lib binary

# Executables
*.exe binary
*.out binary
*.app binary